<!------Modals------>
<!--Add Modal-->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add Employee</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body mx-3">
        <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
          <div class="mb-3">
            <label for="formAddModalName" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="formAddModalName"
              ngModel
              name="name"
              placeholder="Name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="formaddModalEmail" class="form-label"
              >Email Adress</label
            >
            <input
              type="text"
              class="form-control"
              id="formaddModalEmail"
              placeholder="Email"
              ngModel
              name="email"
              required
            />
          </div>
          <div class="mb-3">
            <label for="formaddModalJob" class="form-label">Job Title</label>
            <input
              type="text"
              class="form-control"
              id="formaddModalJob"
              placeholder="Job Tite"
              ngModel
              name="jobTitle"
              required
            />
          </div>
          <div class="mb-3">
            <label for="formAddModalPhone" class="form-label">Phone No.</label>
            <input
              type="text"
              class="form-control"
              id="formAddModalPhone"
              placeholder="Phone"
              ngModel
              name="phone"
              required
            />
          </div>
          <div class="mb-3">
            <label for="formaddModalImage" class="form-label">Image url</label>
            <input
              type="text"
              class="form-control"
              id="formaddModalImage"
              placeholder="url"
              ngModel
              name="url"
              required
            />
          </div>
          <div style="float: right">
            <button
              type="button"
              class="btn btn-secondary mx-1"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              [disabled]="addForm.invalid"
              data-bs-dismiss="modal"
              class="btn btn-primary mx-1"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Delete Modal-->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Employee</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure you want to delete employee?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <button
          type="button"
          (click)="onDeleteEmployee()"
          class="btn btn-danger"
          data-bs-dismiss="modal"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
<!--Update Modal-->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="updateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Update Employee</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body mx-3">
        <form #editForm="ngForm" (ngSubmit)="onUpdateEmployee(editForm)">
          <div class="mb-3">
            <label for="formEditModalName" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="formEditModalName"
              ngModel="{{ editEmployee?.name }}"
              name="name"
            />
            <input
              type="hidden"
              class="form-control"
              id="formEditModalId"
              ngModel="{{ editEmployee?.id }}"
              name="id"
            />
            <input
              type="hidden"
              class="form-control"
              id="formEditModalCode"
              ngModel="{{ editEmployee?.employeeCode }}"
              name="code"
            />
          </div>
          <div class="mb-3">
            <label for="formEditModalEmail" class="form-label"
              >Email Adress</label
            >
            <input
              type="text"
              class="form-control"
              id="formEditModalEmail"
              ngModel="{{ editEmployee?.email }}"
              name="email"
            />
          </div>
          <div class="mb-3">
            <label for="formEditModalJob" class="form-label">Job Title</label>
            <input
              type="text"
              class="form-control"
              id="formEditModalJob"
              ngModel="{{ editEmployee?.jobTitle }}"
              name="jobTitle"
            />
          </div>
          <div class="mb-3">
            <label for="formEditModalPhone" class="form-label">Phone No.</label>
            <input
              type="text"
              class="form-control"
              id="formEditModalPhone"
              ngModel="{{ editEmployee?.phone }}"
              name="phone"
            />
          </div>
          <div class="mb-3">
            <label for="formEditModalImage" class="form-label">Image url</label>
            <input
              type="text"
              class="form-control"
              id="formEditModalImage"
              ngModel="{{ editEmployee?.imageUrl }}"
              name="url"
            />
          </div>
          <div style="float: right">
            <button
              type="button"
              class="btn btn-secondary mx-1"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              data-bs-dismiss="modal"
              class="btn btn-primary mx-1"
            >
              Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!----Main Body----->
<section class="main-body">
  <!--Container of cards-->
  <div class="container" id="main-container">
    <div class="row">
      <div
        *ngFor="let employee of employees"
        class="col-lg-4 col-md-6 col-sm-6"
      >
        <div class="card my-2 mx-sm-10" style="width: auto">
          <div class="row">
            <div class="col-md-6 col-sm-12 d-flex">
              <img
                src="/assets/images/72.jpg"
                class="rounded-circle mx-auto"
                height="60%"
                alt="..."
              />
            </div>
            <div
              class="card-body col-md-6 col-sm-12"
              style="text-align: center"
            >
              <h5 class="card-title">{{ employee?.name }}</h5>
              <p class="card-text">{{ employee?.jobTitle }}</p>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Email:{{ employee?.email }}</li>
            <li class="list-group-item">Phone: {{ employee?.phone }}</li>
            <li class="list-group-item" style="position: relative">
              <div
                class="btn-group"
                style="float: right"
                role="group"
                aria-label="Basic example"
              >
                <button
                  type="button"
                  class="btn-sm btn-primary"
                  (click)="onOpenModal(employee, 'edit')"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pencil-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                    />
                  </svg>
                </button>
                <button
                  type="button"
                  class="btn-sm btn-danger"
                  (click)="onOpenModal(employee, 'delete')"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-x"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                    />
                  </svg>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
